$white: #fff;
$brown: #a47827;
$orange: #ecbc4d;
$blue: #a8c6ef;
$dark-grey: #858585;
$light-grey: #f0f0f3;

$text-color: $dark-grey;
$menu-color: $blue;
$body-color: $white;
$link-color: $brown;

$default-font-family: 'Quicksand', sans-serif;
$normal: 400;
$heavy: 700;

$gutter: 2%;

